* {
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Review-image {
  object-fit: cover;
  width: 50%;
  height: auto;
}

.Review-image-individual {
  object-fit: cover;
  width: 60%;
  height: auto;
}

.Vote-button {
  margin: 2%;
  font-size: xx-large;
}

.Home-page {
  padding: 25px;
}

.App {
  text-align: center;
}
