* {
  font-family: 'Lato', sans-serif;
}

.navbar-text {
  font-size: large;
}

body {
  background: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080') no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Review-image {
  object-fit: cover;
  width: 50%;
  height: auto;
}

.Review-image-individual {
  object-fit: cover;
  width: 60%;
  height: auto;
}

.Vote-button {
  margin: 2%;
  font-size: xx-large;
}

.Home-page {
  padding: 25px;
}

.App {
  text-align: center;
}
